body{
	overflow-x:hidden;
}
	
.index-recommends{overflow:hidden;margin-bottom:15px}
.index-recommends dd{position:relative;float:left;width:230px;height:220px;margin-right:20px;border-radius:4px;overflow:hidden;margin-top:15px;}
.index-recommends a:hover span{color:#fea701}
.index-recommends img{display:block;width:100%;height:100%;-webkit-transition:all 0.3s linear 0s;-moz-transition:all 0.3s linear 0s;-o-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;background-color:#e7e7e7;background-size:contain;}
.index-recommends img:hover{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.index-recommend-title{position:absolute;bottom:0;right:0;left:0;height:35px;line-height:35px;padding:0 10px;font-size:14px;color:#fff;background:url(../images/black.png);text-align:center;}
.index-recommend-title span{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.weiboshow{margin-top:10px}
	
	
.cfbox a.tit{ display: block; height:38px; line-height:38px; font-size:16px; color:#2b2b2b; border:1px solid #fff; text-indent:2em; background:#e9e9e9;}
.cfbox ul{ padding:5px 10px 11px;}
.cfbox ul li{height:28px; line-height:28px;border-bottom:1px dashed #dedede; overflow:hidden;}
.cfbox ul li span{ float:right; padding-left:5px;}
.cfbox ul li a{ padding-left:5px;}

.pagination>li{display:inline;cursor: pointer;}