/*-------------------- reset start --------------------*/
html{ font-size:62.5%; -webkit-text-size-adjust:none; height:100%; width:100%;}
body{ padding:0; margin:0; height:100%; width:100%; background:#eaeef5;} 
*{ margin:0; padding:0; font-family:Arial,Roboto,'Helvetica Neue',Helvetica,Source Han Sans Regular,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,STHeiTi,sans-serif;}
ol,ul { list-style:none outside;}
img, table, fieldset{ border:0 none; border-collapse:collapse; max-width:100%;}
em, i, var, input, textarea{ font-style:normal}
img, table { border:0; border-collapse:0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-style:normal; font-weight:normal; line-height:1;}
select{ background:#fff; border:1px solid #ccc; padding:0 5px;}
button{ cursor:pointer; outline:0;}
input[type=number]::-webkit-inner-spin-button { -webkit-appearance:none !important; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a img{ border:0;}
img{ border:0;}
/*-------------------- reset end --------------------*/


/*-------------------- all start --------------------*/
a{ color:#666; text-decoration:none;}
a:hover, a:active{ color:#f60;}

/* placeholder */
::-webkit-input-placeholder { color:#ccc; font-size:1.4rem; line-height:1.6rem;}
::-moz-placeholder { color:#ccc; font-size:1.4rem; line-height:1.6rem;} /* firefox 19+ */
:-ms-input-placeholder { color:#ccc; font-size:1.4rem; line-height:1.6rem;} /* ie */
input:-moz-placeholder { color:#ccc; font-size:1.4rem; line-height:1.6rem;}

/*clear float*/
.clf:after{ display:block; clear:both;content:""; visibility:hidden; height:0;}
.clf{ zoom:1;}

/* -- float --*/
.r { float:right}
.l { float:left}

/* position */
.rel{position:relative;}
.abs{position:absolute;}
.fix{position:fixed;}

/* cursor */
.poi{cursor:pointer;}
.def{cursor:default;}
.pno {pointer-events:none;}

/* display */
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}

.blur {
filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
-webkit-filter: blur(10px); /* Chrome, Opera */
-moz-filter: blur(10px);
-ms-filter: blur(10px);   
filter: blur(10px);
filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */}

.shadow { box-shadow:0px 0px 5px #fff;}
.shadow2 {-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);}

.hidden{ display:none !important;}
.auto{margin-left:auto; margin-right:auto;}
.gray { -webkit-filter:grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%); -o-filter:grayscale(100%); filter:grayscale(100%); filter:gray; filter:alpha(opacity=70); opacity:0.7;}

/* overflow */
.ovh{overflow:hidden;}
.ova{overflow:auto;}

/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}

/* vertical-align */
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.v0{vertical-align:0;}
.v1{vertical-align:0.1rem;}
.v2{vertical-align:0.2rem;}
.v3{vertical-align:0.3rem;}
.v4{vertical-align:0.4rem;}
.v9{vertical-align:0.9rem;}
.v-1{vertical-align:-0.1rem;}
.v-2{vertical-align:-0.2rem;}
.v-3{vertical-align:-0.3rem;}
.v-4{vertical-align:-0.4rem;}
.v-5{vertical-align:-0.5rem;}

/* -- line height --*/
.lh06 { line-height:0.6;} .lh1 { line-height:1;} .lh12 { line-height:1.2;} .lh14 { line-height:1.4;} .lh16 { line-height:1.6;} .lh18 { line-height:1.8;} .lh20 { line-height:2;} .lh22 { line-height:2.2;} .lh24 { line-height:2.4;} .lh26 { line-height:2.6;} .lh28 { line-height:2.8;} .lh30 { line-height:3;} .lh32 { line-height:3.2;} .lh36 { line-height:3.6;}

.lhr1 { line-height:1rem;} .lh12r { line-height:1.2rem;} .lh14r { line-height:1.4rem;} .lh16r { line-height:1.6rem;} .lh18r { line-height:1.8rem;} .lh20r { line-height:2rem;} .lh22r { line-height:2.2rem;} .lh24r { line-height:2.4rem;} .lh26r { line-height:2.6rem;} .lh28r { line-height:2.8rem;} .lh32r { line-height:3.2rem;} .lh36r { line-height:3.6rem;} .lh40r { line-height:4rem;}

/* margin */
.m0{margin:0;}
.ml2{margin-left:2px;} .ml5{margin-left:5px;} .ml8{margin-left:8px;} .ml10{margin-left:10px;} .ml15{margin-left:15px;} .ml20{margin-left:20px;} .ml30{margin-left:30px;} .ml50{margin-left:50px;} .ml100{margin-left:100px;}
.mr2{margin-right:2px;} .mr3{margin-right:3px;} .mr4{margin-right:0.4rem;} .mr5{margin-right:5px;} .mr8{margin-right:8px;} .mr8r{margin-right:0.8rem;} .mr10{margin-right:10px;} .mr15{margin-right:15px;} .mr20{margin-right:2rem;} .mr25{margin-right:2.5rem;}
.mt2{margin-top:2px;} .mt3{margin-top:3px;} .mt5{margin-top:5px;} .mt8{margin-top:8px;} .mt10{margin-top:10px;} .mt10r{margin-top:1rem;} .mt12{margin-top:12px;} .mt15{margin-top:15px;} .mt18{margin-top:18px;} .mt20{margin-top:20px;} .mt22{margin-top:22px;} .mt25{margin-top:25px;} .mt30{margin-top:30px;}
.mb2{margin-bottom:2px;} .mb5{margin-bottom:5px;} .mb10{margin-bottom:10px;} .mb12{margin-bottom:12px;} .mb15{margin-bottom:15px;} .mb20{margin-bottom:20px;} .mb25{margin-bottom:25px;} .mb30{margin-bottom:30px;} .mb40{margin-bottom:40px;} .mb50{margin-bottom:50px;}

/* margin percent */
.mp03{margin:0 3%;}
.mp05{margin:0 5%;}
.mp08{margin:0 8%;}
.mlp5{margin-left:5%;}
.mlp8{margin-left:8%;}
.mtp30{margin-top:30%;}
.mtp35{margin-top:35%;}
.mtp40{margin-top:40%;}

/* padding */
.p0{padding:0;} .p5{padding:5px;} .p10{padding:10px;} .p15{padding:15px;} .p150{padding:15px 0;} .p20{padding:20px;} .p30{padding:30px;}
.p05{padding:0 5px;} .p010{padding:0 10px;} .p015{padding:0 15px;} .p020{padding:0 20px;}
.pt2{padding-top:2px;} .pt5{padding-top:5px;} .pt10{padding-top:10px;} .pt15{padding-top:15px;} .pt20{padding-top:20px;} .pt25{padding-top:25px;} .pt30{padding-top:30px;} .pt40{padding-top:40px;} .pt50{padding-top:5rem;}
.pb2{padding-bottom:2px;} .pb5{padding-bottom:5px;} .pb10{padding-bottom:10px;} .pb15{padding-bottom:15px;} .pb20{padding-bottom:20px;} .pb25{padding-bottom:25px;} .pb30{padding-bottom:30px;} .pb40{padding-bottom:40px;} .pb50{padding-bottom:50px;}
.pl2{padding-left:2px;} .pl5{padding-left:5px;} .pl10{padding-left:10px;} .pl12{padding-left:12px;} .pl15{padding-left:15px;} .pl18{padding-left:18px;} .pl20{padding-left:20px;} .pl30{padding-left:30px;}
.pr2{padding-right:2px;} .pr5{padding-right:5px;} .pr10{padding-right:10px;} .pr12{padding-right:12px;} .pr15{padding-right:15px;} .pr18{padding-right:18px;} .pr20{padding-right:20px;} .pr30{padding-right:30px;}

/* padding percent */
.pp53{padding:5% 3%;}
.pp03{padding:0 3%;}
.pp04{padding:0 4%;}
.pp34{padding:3% 4%;}
.pp253{padding:2.5% 3%;}
.pp2{padding:2%;}
.pp3{padding:3%;}
.pp4{padding:4%;}
.pp5{padding:5%;}
.pp05{padding:0 5%;}

/* font-style */
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}

/* font color */
.c0{color:#000;} .c3{color:#333;} .c6{color:#666;} .c9{color:#999;} .cc{color:#ccc;} .cff{color:#fff;} .ce2{color:#f67047} .c3a{color:#39bd94} .cf3{color:#f3ab45} .c07{color:#fff071} .c9d{color:#9dc060;} .c37{color:#37b0e9;} .c39{color:#39aa89;} .c61{color:#61ccb2;}

/* font-size */
.f0{font-size:0;} .f10{font-size:1rem;} .f12{font-size:1.2rem;} .f12b{font-size:1.4rem;} .f13{font-size:1.3rem;} .f14{font-size:1.4rem;} .f15{font-size:1.5rem;} .f16{font-size:1.6rem;} .f17{font-size:1.7rem;} .f18{font-size:1.8rem;} .f20{font-size:2rem;} .f22{font-size:2.2rem;} .f24{font-size:2.4rem;} .f26{font-size:2.6rem;} .f28{font-size:2.8rem;} .f30{font-size:3rem;} .f32{font-size:3.2rem;} .f34{font-size:3.4rem;} .f36{font-size:3.6rem;} .f38{font-size:3.8rem;} .f40{font-size:4rem;} .f42{font-size:4.2rem;} .f44{font-size:4.4rem;} .f46{font-size:4.6rem;} .f48{font-size:4.8rem;} .f50{font-size:5rem;} .f54{font-size:5.4rem;} .f58{font-size:5.8rem;}

/* letter-spacing */
.ls1{letter-spacing:1px;}
.ls2{letter-spacing:2px;}

/* percent width */
.pct3{width:3%;} .pct4{width:4%;} .pct5{width:5%;} .pct6{width:6%;} .pct8{width:8%;} .pct10{width:10%;} .pct15{width:15%;} .pct18{width:18%;} .pct20{width:20%;} .pct25{width:25%;} .pct30{width:30%;} .pct33{width:33.3%;} .pct40{width:40%;} .pct47{width:47%;} .pct48{width:48%;} .pct50{width:50%;} .pct55{width:55%;} .pct60{width:60%;} .pct66{width:66.6%;} .pct70{width:70%;} .pct75{width:75%;} .pct80{width:80%;} .pct84{width:84%;} .pct90{width:90%;} .pct94{width:94%;} .pct100{width:100%;}

.hei3 { height:3rem;}
.hei38 { height:3.8rem;}
.hei4 { height:4rem;}
.hei5 { height:5rem;}
.hei6 { height:6rem;}

/* text-align */
.tc{text-align:center;} .tr{text-align:right;} .tl{text-align:left;} .tj{text-align:justify;}

/* height_box */
.ht1,.ht3,.ht5,.ht8,.ht10,.ht12,.ht15,.ht20,.ht25,.ht30,.ht40,.ht50,.ht60,.ht80 {line-height:0; font-size:0; width:10px; clear:both; display:block;}
.ht1 {height:1px;} .ht3 {height:3px;} .ht5 {height:5px;} .ht8 {height:8px;} .ht10 {height:10px;} .ht12 {height:12px;} .ht15 {height:15px;} .ht20 {height:20px;} .ht25 {height:25px;} .ht30 {height:30px;} .ht40 {height:40px;}
.ht50 {height:50px;} .ht60 {height:60px;} .ht80 {height:80px;}

/* line */
.lso { line-height:0; height:0; font-size:0; border-bottom:1px solid #eee;}
.ldo { line-height:0; height:0; font-size:0; border-bottom:1px dotted #eee;}
.lda { line-height:0; height:0; font-size:0; border-bottom:1px dashed #eee;}

/* text-decoration */
.tdl{text-decoration:underline;}
.tdn,.tdn:hover,.tdn a:hover,a.tdl:hover{text-decoration:none;}

/* border-color */
.be{border:1px solid #e8e8e8;}
.ble{border-left:1px solid #e8e8e8;}
.bre{border-right:1px solid #e8e8e8;}
.bte{border-top:1px solid #e8e8e8;}
.bbe{border-bottom:1px solid #e8e8e8;}
.bl3ee{border-left:3px solid #eee;}

/* background-color */
.bgff {background-color:#fff;}
.bgcc {background-color:#ccc;}
.bgee {background-color:#eee;}
.bg5d {background-color:#5d5d5d;}
.bgaf {background-color:#afd076;}
.bge2 {background-color:#e25f43;}
.bgf3 {background-color:#f3ab45;}
.bgfd {background-color:#fdcb7c;}
.bgea {background-color:#eaeef5;}

.bglr { background:#fff url(../images/ll.png) right top repeat-y;}

/* border radius */
.br4{ border-radius:4px;}
.br4l{ border-radius:4px 0 0 4px;}
.br4r{ border-radius:0 4px 4px 0;}

/* z-index */
.z8{ z-index:8888;}
.z9{ z-index:9999;}
.z99{ z-index:99999;}
/*-------------------- all end --------------------*/


/* -------------------- library start --------------------*/
/* -- table --*/
.tabA { width:100%}
.tabA th { font-weight:normal; color:#999; width:33.33%}

.tabB{ width:100%; text-align:center; color:#666;}
.tabB th{ background:#f6f6f6; line-height:44px; font-size:14px; font-weight:normal;}
.tabB td{ line-height:44px; border-right:1px solid #fff; border-bottom:1px solid #eee;}

.tab_l { border-top:1px solid #ddd; width:100%; border-left:1px solid #ddd;}
.tab_l td { border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:1px;}
.tab_l input[type=password] { color:#333; vertical-align:middle; text-align:center; border:0 none; width:80%; height:3rem; padding:10%;}

.tab_l2{ width:100%; text-align:left; line-height:18px; font-size:14px; background-color:#fff;}
.tab_l2 th, .tab_l2 td{ padding:12px 6px; border-bottom:1px solid #dedede; vertical-align:top;}
.tab_l2 th{ background-color:#777; color:#fff;}

/* -- a --*/
a.cb { color:#f00;}
a.cb:hover{ color:#306dbb;}

/* -- footer -- */
.footer{ height:52px;}

/* -- mask -- */
.mask { background-color:#000; position:fixed; top:0px; left:0px; width:100%; height:100%; opacity:0.3; filter:alpha(opacity=30); z-index:999;}
.mask2 { background-color:#000; position:fixed; top:0px; left:0px; width:100%; height:100%; opacity:0.8; filter:alpha(opacity=80); z-index:999;}
.mask3 { background-color:#000; position:fixed; top:0px; left:0px; width:100%; height:100%; opacity:0.5; filter:alpha(opacity=50); z-index:999;}
.pop { position:fixed; top:50%; z-index:9999; background:#fff; border-radius:3px;}
.pop2 { position:fixed; z-index:9999; border-radius:3px;}
.pop3 { position:fixed; top:50%; z-index:9999; border-radius:3px;}
.pop_to { position:fixed; top:20px; z-index:9999;}

/* -- box -- */
.box{ background-color:#fff; padding:10px; overflow:hidden; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}

/* buttom no-size */

.btn_grayF{ display:block; background-color:#ccc; color:#fff; text-align:center; border-radius:2px; border:0; -webkit-appearance:none; outline:none;}
.btn_grayF:active{ background-color:#bbb; color:#fff;}

.btn_greF{ display:block; background-color:#61ccb2; color:#fff; text-align:center; border-radius:2px; border:0; -webkit-appearance:none; outline:none;}
.btn_greF:active{ background-color:#53c0a5; color:#fff;}

.btn_yelF{ display:block; background-color:#e6765a; color:#fff; text-align:center; border-radius:2px; border:0; -webkit-appearance:none; outline:none;}
.btn_yelF:active{ background-color:#d55135; color:#fff;}

.btn_redF{ display:block; background-color:#e6765a; color:#fff; text-align:center; border-radius:2px; border:0; -webkit-appearance:none; outline:none;}
.btn_redF:active{ background-color:#d55135; color:#fff;}

.btn_redFO{ display:block; background-color:#e6765a; text-align:center; border-radius:50px; border:1px solid #f37556; -webkit-appearance:none; outline:none;}
.btn_redFO:active{ background-color:#d55135; color:#fff;}

.btn_Fff{ display:block; background-color:#fff; color:#999; text-align:center; border-radius:2px; border:0; -webkit-appearance:none; outline:none;}
.btn_Fff:active{ background-color:#f9f9f9; color:#999;}

.btn_FffO{ display:block; background-color:#fff; text-align:center; border-radius:50px; border:1px solid #bbb; -webkit-appearance:none; outline:none;}
.btn_FffO:active{ background-color:#f9f9f9;}

.btn_yelFix{ display:block; position:fixed; bottom:0; background-color:#e6765a; color:#fff; text-align:center; border:0; -webkit-appearance:none; outline:none;}
.btn_yelFix:active{ background-color:#d55135; color:#fff;}
.btn_redFix{ display:block; position:fixed; bottom:0; background-color:#e6765a; color:#fff; text-align:center; border:0; -webkit-appearance:none; outline:none;}
.btn_redFix:active{ background-color:#d55135; color:#fff;}
.btn_grayFix{ display:block; position:fixed; bottom:0; background-color:#ccc; color:#fff; text-align:center; border:0; -webkit-appearance:none; outline:none;}
.btn_grayFix:active{ background-color:#bbb; color:#fff;}

.bbYel { border-bottom:3px solid #bf4d30;}
.bbRed { border-bottom:3px solid #bf4d30;}
.bbGre { border-bottom:3px solid #3cad92;}
.bbGray { border-bottom:3px solid #bbb;}
.bbGrayB { border-bottom:3px solid #dee3eb;}
.bbFff { border-bottom:3px solid #ddd;}
.bbYel2 { border-bottom:2px solid #bf4d30;}
.bbRed2 { border-bottom:2px solid #bf4d30;}
.bbGre2 { border-bottom:2px solid #3cad92;}
.bbGray2 { border-bottom:2px solid #bbb;}
.btGray1 { border-top:1px solid #ddd;}
.bbGray1 { border-bottom:1px solid #ddd;}

.btnPub{ display:block; color:#fff; text-align:center; border-radius:4px; border:0; -webkit-appearance:none; outline:none;}

/*underToolsBar*/
.fBar{ width:100%; padding:7px 0 3px 0; background:#efefef; border-top:1px solid #e3e3e3; position:fixed; bottom:0; zoom:1;}
.fBar ul{ list-style:none; width:100%;}
.fBar li{ width:25%; float:left;}
.fBar li p{ color:#777; font-size:1rem;}
.fBar li.active p{ color:#d23131; font-size:1rem;}
.fBar li a{ display:block;}
.fBar .c{ position:relative; top:2px; padding-right:10px;}
.fBar .com{ position:relative; top:-12px;}

/*-- product List --*/
.plist{
	list-style:none;
	padding:0 10px 0 10px;
	background:#fff;
	overflow:hidden;
}
.plist li{
	width:100% !important;
	text-align:left !important;
	border-bottom:1px solid #e3e3e3;
	line-height:3.6rem;
	display:block;
	overflow:hidden;
}

/* -- progress bar --*/
.pBarW { background-color:#e8e8e8; width:100%; height:10px; margin:0 auto; border-radius:50px}
.pBar { background-color:#f79100; width:70%; height:10px; float:left; border-radius:50px}

/* -- form --*/
.form input[type=text],.form input[type=password],.form input[type=number]{ color:#333; height:40px; width:88%; padding:0 0 0 12%; vertical-align:middle; border:0 none; border-bottom:1px solid #ddd;}
.form li { height:40px; margin-bottom:15px; position:relative;}
.ilog { position:absolute; display:block; width:2.2rem; height:2.2rem;}

.form2 input[type=text],.form2 input[type=password],.form2 input[type=number]{ color:#333; height:40px; width:68%; padding:0 0 0 32%; vertical-align:middle; border:0 none; border-bottom:1px solid #ddd;}
.form2 li { height:40px; margin-bottom:15px; position:relative;}
.form2 li label { position:absolute; width:30%;}

.form3 input[type=text],.form3 input[type=password],.form3 input[type=number]{ color:#333; height:4rem; width:96%; padding:0 0 0 4%; vertical-align:middle; border:0 none; border:1px solid #ddd;}
.form3 li { height:40px; margin-bottom:15px; position:relative;}
.form3 li label { position:absolute; width:30%;}

.tagCur { color:#f3ab45; border-bottom:2px solid #f3ab45}
.tagCur2 { color:#e25f43; border-bottom:2px solid #e25f43}
.tagCur3 { color:#f4704e; border-bottom:2px solid #f4704e}

/* 特权加息 */
.i_tagEnd { width:62px; height:62px; background:url(../images/tag_ysy.png) no-repeat; background-size:100% 100%;}
.i_tagIng { width:62px; height:62px; background:url(../images/tag_jxz.png) no-repeat; background-size:100% 100%;}
.i_tagNou { width:62px; height:62px; background:url(../images/tag_wsy.png) no-repeat; background-size:100% 100%;}
.i_tagOve { width:62px; height:62px; background:url(../images/tag_ygq.png) no-repeat; background-size:100% 100%;}

/* 特权本金 */
.i_tagIng2 { width:62px; height:62px; background:url(../images/tag_sxz.png) no-repeat; background-size:100% 100%;}
.i_tagNou2 { width:62px; height:62px; background:url(../images/tag_djh.png) no-repeat; background-size:100% 100%;}
.i_tagOve2 { width:62px; height:62px; background:url(../images/tag_ygq2.png) no-repeat; background-size:100% 100%;}

.ul0 { background:#fff; border-radius:4px;}
.olul ol { list-style:inside decimal;}
.olul ul { list-style:inside disc;}
.ul01 li { display:inline-block;}

.ul02 { background:#fff; border-radius:4px;}
.ul02 li { overflow:hidden; line-height:4.8rem; padding:0 4%; border-bottom:1px solid #ddd;}
.ul02 li:active { background:#f9f9f9;}
.ul02 li:last-child{border:none;}

.ul03 { background:#fff; border-radius:4px;}
.ul03 li { overflow:hidden; padding:0 4%; border-bottom:1px dotted #eee;}
.ul03 li:active { background:#f9f9f9;}
.ul03 li:last-child{border:none;}

.ul03B { background:#fff;}
.ul03B li { overflow:hidden; line-height:4rem; padding:0 4%; border-bottom:1px solid #eee;}
.ul03B li:active { background:#f9f9f9;}
.ul03B li:last-child{border:none;}

.ul04 { background:#fff; border-radius:4px;}
.ul04 li { overflow:hidden; line-height:4.8rem; padding:0 0 0 4%; border-bottom:1px dotted #eee;}
.ul04 li:last-child{border:none;}

.ul04s { background:#fff; border-radius:4px;}
.ul04s li { overflow:hidden; border-bottom:1px dotted #eee;}
.ul04s li:last-child{border:none;}

.ul05 { background:#fff; border-radius:4px;}
.ul05 li { overflow:hidden; line-height:5rem; padding:0 4%; border-bottom:1px solid #ddd;}
.ul05 li:last-child{border:none;}

.ul06 { background:#fff; border-radius:4px 4px 0 0;}
.ul06 li { overflow:hidden; line-height:4.6rem; margin:0 3%; border-bottom:1px dashed #eee;}
.ul06 li:last-child{border:none;}

.ul06B { background:#fff; border-radius:4px;}
.ul06B li { overflow:hidden; line-height:4.6rem; margin:0 3%; border-bottom:1px dashed #eee;}
.ul06B li:last-child{border:none;}

.ul07 li { float:left; width:33%; border-right:1px solid #f5a683;}
.ul07 li:last-child{border:none;}

.ul_noli { background:#fff; border-radius:4px;}

.ulPub { background:#fff; border-radius:4px;}
.ulPub li { overflow:hidden; padding:0 4%; border-bottom:1px solid #ddd;}
.ulPub li:last-child{ border:none;}

.ulPubnb { background:#fff; border-radius:4px;}
.ulPubnb li { overflow:hidden; padding:0 4%;}
.ulPubnb li:last-child{ border:none;}

.lef{ float:left; width:30%; text-align:left; color:#333;}
.mid{ float:left; width:65%; text-align:left; color:#999;}
.rig{ float:right; width:5%; text-align:right;}

.lef2{ float:left; width:45%; text-align:left; color:#333;}
.mid2{ float:left; width:45%; line-height:62px; text-align:left; color:#666;}
.rig2{ float:left; width:10%; text-align:right;}

.lef3{ float:left; width:25%; text-align:left; color:#333;}
.lef3B{ float:left; width:25%; text-align:left; color:#999;}
.mid3{ float:left; width:75%; text-align:left; color:#999;}
.mid3r{ float:left; width:75%; text-align:right; color:#999;}
.mid3rB{ float:left; width:75%; text-align:right; color:#666;}

.lef4{ float:left; width:50%; text-align:left; color:#333;}
.mid4{ float:left; width:50%; text-align:right; color:#333;}

.lef5{ float:left; width:10%; text-align:left;}
.mid5{ float:left; width:30%; text-align:left; color:#999;}
.rig5{ float:left; width:60%; text-align:left; color:#999;}

.col01{ float:left; width:8%; text-align:left;}
.col02{ float:left; width:25%; text-align:left; color:#666;}
.col03{ float:left; width:30%; text-align:left;}
.col04{ float:right; width:35%; text-align:right; color:#999;}

.col5{ width:5%;}
.col7{ width:7%;}
.col8{ width:8%;}
.col10{ width:10%;}
.col15{ width:15%;}
.col20{ width:20%;}
.col25{ width:25%;}
.col30{ width:30%;}
.col35{ width:35%;}
.col40{ width:40%;}
.col45{ width:45%;}
.col50{ width:50%;}
.col55{ width:55%;}
.col60{ width:60%;}
.col65{ width:65%;}
.col70{ width:70%;}
.col75{ width:75%;}
.col80{ width:80%;}

.inpNb { color:#333; height:4rem; width:94%; padding:0 0 0 4%; vertical-align:middle; border:0 none;}

.addBank { background:#cdf2e9; border:1px dashed #61ccb2; border-radius:4px; padding:1.4rem; text-align:center; cursor:pointer;}

.plus { background:#f3963b; border-radius:100px; padding:0.5rem 1rem}
.plus2 { background:#fdd82e; color:#ad8109; border-radius:100px; padding:0.5rem 1rem}
.plus2:active { background:#f1cc21;}
.plus3 { background:#fea765; color:#fff; border-radius:100px; padding:0.5rem 1rem}
.plus3:active { background:#f29854; color:#fff;}

.ib { display:block; width:100px; height:22px;}
.i_icbc { background:url(../images/i_icbc.png) no-repeat; background-size:100% 100%;}
.i_abc { background:url(../images/i_abc.png) no-repeat; background-size:100% 100%;}
.i_ccb { background:url(../images/i_ccb.png) no-repeat; background-size:100% 100%;}
.i_boc { background:url(../images/i_boc.png) no-repeat; background-size:100% 100%;}
.i_bcom { background:url(../images/i_bcom.png) no-repeat; background-size:100% 100%;}
.i_cmb { background:url(../images/i_cmb.png) no-repeat; background-size:100% 100%;}
.i_spdb { background:url(../images/i_spdb.png) no-repeat; background-size:100% 100%;}
.i_cmbc { background:url(../images/i_cmbc.png) no-repeat; background-size:100% 100%;}
.i_pab { background:url(../images/i_pab.png) no-repeat; background-size:100% 100%;}
.i_cib { background:url(../images/i_cib.png) no-repeat; background-size:100% 100%;}
.i_ceb { background:url(../images/i_ceb.png) no-repeat; background-size:100% 100%;}
.i_citic { background:url(../images/i_citic.png) no-repeat; background-size:100% 100%;}
.i_hxb { background:url(../images/i_hxb.png) no-repeat; background-size:100% 100%;}

/* progress */
.pg_idx{ background-color:#ccc; width:86%; display:inline-block; border-radius:50px; overflow:hidden; text-align:left;}
.pg_idx .bar{ height:10px; background:#f3ab45; border-radius:50px;}

.zt { border-bottom:1px solid #e6765a; height:10px; text-align:center;}

.xxx { right:0.5rem; top:0.5rem; height:1.8rem; width:1.8rem;}

.inpb { height:2.6rem; font-size:18px; border:0 none; border:1px solid #ddd; width:80%; color:#333; height:3rem; padding:0 0 0 2%; vertical-align:middle;}

/* -- banner --*/
.bn01 { background:url(../banner/images/01.png) no-repeat; background-size:100% 100%;}
.bn02 { background:url(../banner/images/02.png) no-repeat; background-size:100% 100%;}
.bn03 { background:url(../banner/images/03.png) no-repeat; background-size:100% 100%;}

/* -- tag --*/
.tag_top { border:1px solid #e5765a; border-radius:2px; overflow:hidden; text-align:center; font-size:14px;}
.tag_top li { float:left; color:#e6765a; padding:8px 0;}
.tag_top .cur { background:#e5765a; color:#fff;}

/* -- bg line --*/
.bg_lineR { background:url(../images/bg_dot.png) repeat-y right;}

.bg_Lff { background:url(../images/line_fff.png) repeat-y right top;}
.bg_Lec { background:url(../images/line_e1.png) repeat-y right top;}
.bg_Lec_l { background:url(../images/line_e1.png) repeat-y left top;}
.bg_Ld2 { background:url(../images/line_d2.png) repeat-y right top;}