<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zc.first.mapper.JokeMapper" >
 	<insert id="insert" parameterType="jokeVo">
 		insert into f_joke(TITLE,CONTENT,STATE,AUTHOR,CREATEDATE,MODIFYDATE) value(#{title},#{content},#{state},#{author},#{createDate},#{modifyDate})
 	</insert>
 	
 	<select id="selectById" parameterType="jokeVo" resultType="joke">
 		select * from f_joke where ID = #{id}
 	</select>
 	
 	<!-- 查出当前页的记录 -->
<!-- 	<select id="selectCurrPage" resultType="comment" parameterType="CommentVo"> -->
<!-- 		SELECT * FROM f_comment where ARTICLEID = #{articleId} order by CREATEDATE desc LIMIT #{page.startPage},#{page.numPerPage}; -->
<!-- 	</select> -->
	
	<!-- 查出总数 -->
<!-- 	<select id="countNum" resultType="int"> -->
<!-- 		SELECT count(*) FROM f_comment where ARTICLEID = #{articleId}; -->
<!-- 	</select> -->
	
</mapper>