<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zc.first.mapper.VisitRecordMapper" >
 	<insert id="insert" parameterType="visitRecordVo">
 		insert into f_visit_record(IP,PROVINCE,CITY,AREA,VISITDATE) value(#{ip},#{province},#{city},#{area},#{visitDate})
 	</insert>
</mapper>